#score-board{
    background-color: #0C4A6E;
    height: 500px;
    padding-top: 20px;
    border: 6px solid #0284C7;
    border-radius: 10px;
}

#clock-section{
    width: 130px;
    height: 80px;
    background-color: #1F2937;
    border: 4px solid #4B5563;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: auto auto;
}

#teams-names-section{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #EEEEEE;
    text-shadow: 2px 1px black;
    size: 40px;
    line-height: 35.89px;
    display: flex;
    justify-content: space-around;
    margin: 0 0;
}

#score-screens-section{
    display: flex;
    justify-content: space-around;
}

.score{
    color: #F94F6D;
    background-color: #1F2937;
    width: 155px;
    height: 120px;
    text-shadow: -2px -2px #6B7280;
    border: 2px solid #F94F6D ;
    border-radius: 5px;
    font-size: 90px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 20px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    padding-top: 15px;
}

#score-buttons-section{
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
}

.increament-button{
    background-color: #1F2937;
    color: #6B7280;
    border: 2px solid #374151;
    border-radius: 2px;
    font-family: 'Cursed Timer ULiL', sans-serif;
}

#new-game-section{
    margin-top: 80px;
    text-align: center;
}

#new-game-btn{
    width: 200px;
    height: 60px;
    color: #EEEEEE;
    background-color: #1F2937;
    border: 4px solid #4B5563;
    border-radius: 10px;
}